/* isolate NGO login page */
.ngo-login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
body {
  background-color:#F5FFF5; 
}

/* fix form alignment */
.ngo-login-page .ngo-login-form {
  background: #ffffff;
  padding: 30px 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;

 
}

/* fix inputs */
.ngo-login-page .ngo-login-form input {
  width: 100% !important;
  padding: 12px !important;
  margin-bottom: 18px !important;
  border-radius: 8px !important;
  border: 1px solid #ccc !important;
  background-color: white !important;
}

/* fix button */
.ngo-login-page .ngo-login-form button {
  width: 100% !important;
  padding: 12px !important;
  border: none !important;
  border-radius: 8px !important;  
  font-size: 16px;
  cursor: pointer;
}
