.navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
  
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #28a745;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links li a:hover {
  color: #28a745;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 64px;
    right: 30px;
    background-color: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    width: 180px;
    z-index: 999;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin-bottom: 10px;
  }
}
